<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/hangman_styles.css"/></head>
<div id='game_over_title_box'>
	<h2 id='game_over_title'>GAME OVER!</h2>
</div>
<div id='game_over_message'>
	<p>
		<% if game.solved? %>
			GREAT JOB! YOU GUESSED THE WORD!
		<% else %>
			NICE TRY, BUT YOU DID NOT GUESS THE WORD.<br>
			THE SECRET WORD WAS: <span class='secret_word'>"<%= game.secret_word.upcase %>"</span>
		<% end %>
	</p>
	<span id='ng_button_container'>
		<a href='/Hangman/newgame'>
			<button id='ng_button' type='Submit' value='newgame'>NEW GAME
			</button>
		</a>
	</span>
	<div id='dict_message'>
		<span>NOT SURE WHAT <span class='secret_word'>"<%= game.secret_word.upcase %>"</span> MEANS?<br>SEE THE OXFORD DEFINITION <a id='dict_link' href='https://en.oxforddictionaries.com/definition/<%=game.secret_word%>'><i>HERE!</i></a>
		</span>
	</div>
</div>

</html>