<!DOCTYPE html>
<html>
	<head><link rel="stylesheet" href="/hangman_styles.css"/></head>
	<a id='to_menu' href='/'>
		<button id='to_menu_button'>
			Home
		</button>
	</a>
	<body>
		<div id='main_container'>
			<div id="title_box">
				<h1 id="main_title">
					<%= title %>
				</h1>
			</div>
			<div>
				<p>
					<%= yield %>
				</p>
			</div>
		</div>
	</body>
</html>