<!DOCTYPE html>
<html>
<head><link rel='stylesheet' href='main_styles.css'></head>
	<body>
		<div id='main_container'>
			<div id='cipher_link_container'>
				<a href='/Caesar'>
					<button id='to_caesar'>
					</button>
				</a>
			</div>
			<div id='center_text'>
				Choose an Option
			</div>
			<div id='hangman_link_container'>
				<a href='/Hangman/newgame'>
					<button id='to_hangman'>
					</button>
				</a>
			</div>
			<div id='mastermind_link_container'>
				<a href='/Mastermind'>
					<button id='to_mastermind'>
					</button>
				</a>
			</div>
		</div>
		<div id='footer'>
			Created by <i><a id='footer_link' href='https://github.com/prw001'>prw001</a></i> (links to GitHub)
		</div>
	</body>
</html>